* {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fullPage {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fc-bg-event {
  opacity: 1 !important;
}

.fc-daygrid-day-number {
  text-decoration: none !important;
}

.picker .rdrDefinedRangesWrapper {
  display: none !important;
}

.picker.not-selected .rdrMonthAndYearWrapper,
.picker.not-selected .rdrMonths {
  display: none !important;
}

.picker.not-selected .rdrDateDisplayItemActive {
  border-color: rgba(0, 0, 0, 0) !important;
}

.picker.not-selected .rdrDateDisplayWrapper {
  width: 664px;
}